* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    position: inherit;
    background: $main-purple;
    color: $ui-black;
    font-size: $font-size-regular;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
}
a{
    text-decoration: none;
    transition: all 0.3s;
    color: $dark-purple;
    &:hover {
        color: $ui-black;
    }
}