// Base Fonts
.heading-font-style{
    font-family: puffin-arcade-yoko, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.nav-font-style{
    font-family: puffin-arcade-yoko, sans-serif;
    font-weight: 800;
    font-style: normal;
}

// Font Sizes
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
$font-size-huge: 64px;

