// Brand colors
$light-blue: #E5F1FF;
$main-purple: #E5F1FF;
$light-purple:#9796d4;
$dark-purple: #61679F;
$light-pink: #F1E7E7;

//UI colors
$primary: $main-purple;
$secondary: $dark-purple;
$tertiary: $light-blue;
$hilight: $light-pink;
$ui-white: #fff;
$ui-black: #000;

// Spacing Rules
$spacing-small: 8px;
$spacing-regular: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 40px;

// Font Sizes
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
$font-size-huge: 64px;