footer {
    display: flex;
    width: 100%;
    height: 102px;
    bottom: 0;
    position: absolute;
    justify-content: space-between;
    background-color: #546580;
    padding: 30 32px 0 32px;
    color: #F5EFE1;
    font-family: brevia, sans-serif;
    font-size: 12x;
    font-weight: 700;

    .container {
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
    ul {
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;

        &:last-child {
            text-align: right;
        }

        li {
            flex-basis: 100%;
        }
    }

    p {
        margin: $spacing-regular $spacing-xlarge;
    }
}