// .gallery {
//     background-color: white;
//     padding: 20px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//     border-radius: 30px;
// }
.item{
    width: 250px;
    height: 250px;
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
}
.about{
    padding-left: 615px;
}
.about-img{
    width: 387px;
    height: 375px;
    margin-left: 129px;
    border-radius: 30%;
}