.navigation {
    width: 100%;
    padding: 50px;
    background-color: $dark-purple;
    background:linear-gradient(180deg, #31344F, #868CCB);
    border-bottom: 3px solid $ui-black;
    a {
        color: $light-pink;
    }
    &__container {
        width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__page-title {
        @extend .title-font-style;
        font-size: 40px;
        color: $light-pink;
    }
    &__menu-options {
        list-style: none;
        li {
            @extend .title-font-style;
            display: inline;
            margin-left: 50px;
            font-size: $font-size-xlarge;
        }
    }
}