.navigation {
    width: 100%;
    padding: 50px;
    background-color: #61679F;
    a {
        color: $deep-purple;
    }
    &__container {
        width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__page-title {
        @extend .title-font-style;
        font-size: 40px;
    }
    &__menu-options {
        list-style: none;
        li {
            @extend .title-font-style;
            display: inline;
            margin-left: 50px;
            font-size: $font-size-xlarge;
        }
    }
}