.heading-font-style, .gallery__box-description {
  font-family: puffin-arcade-yoko, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #881FA7;
}

.nav-font-style {
  font-family: puffin-arcade-yoko, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.title-font-style, h1, .navigation__menu-options li, .navigation__page-title, .gallery__box-title {
  font-family: puffin-arcade-liquid, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4e3b61;
}

.footer-font-style, footer {
  font-family: puffin-arcade-liquid, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4e3b61;
}

.item-link-font-style, .main-content a {
  font-family: puffin-arcade-nerf, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4e3b61;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: #E5F1FF;
  color: #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #61679F;
}
a:hover {
  color: #000;
}

.gallery {
  min-height: 720px;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  padding: 32px;
  align-items: center;
  justify-content: space-around;
}
.gallery__box-preview {
  height: 100%;
  flex-basis: 50%;
  margin-bottom: 16px;
}
.gallery__box-image {
  padding: 32px;
  background: #fff;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.gallery__box-image img {
  height: 100%;
  width: 100%;
}
.gallery__box-description {
  font-size: 64px;
  text-align: center;
}
.gallery__next-item, .gallery__previous-item {
  flex-basis: 25%;
  padding: 32px;
  font-family: puffin-arcade-liquid, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  color: #4e3b61;
  text-align: center;
}
.gallery__box-title {
  font-size: 64px;
  text-align: center;
}

.main-content {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.main-content h1 {
  max-width: 800px;
  padding: 20px;
  margin: 20px auto 20px auto;
  text-align: center;
}
.main-content__item-preview {
  min-height: 720px;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 32px;
  border-radius: 32px;
  background: #E5F1FF;
}
.main-content__item {
  width: 248px;
  height: 220px;
  position: relative;
  margin: 0 12px 72px 0;
}
.main-content__item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main-content__item-description {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.about {
  font-family: puffin-arcade-yoko, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
  color: #881FA7;
  padding-left: 615px;
}

.about-img {
  width: 387px;
  height: 375px;
  margin-left: 129px;
  border-radius: 30%;
}

footer {
  padding: 50px;
  text-align: center;
  margin-bottom: 84px;
  font-size: 48px;
}

.navigation {
  width: 100%;
  padding: 50px;
  background-color: #61679F;
  background: linear-gradient(180deg, #31344F, #868CCB);

}
.navigation a {
  color: #F1E7E7;
}
.navigation__container {
  width: 1200px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
}
.navigation__page-title {
  font-size: 40px;
  color: #F1E7E7;
}
.navigation__menu-options {
  list-style: none;
}
.navigation__menu-options li {
  display: inline;
  margin-left: 50px;
  font-size: 48px;
}

section {
  padding: 50px;
}

h1 {
  font-size: 48px;
  width: 50%;
}

.intro {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto 20px auto;
  text-align: center;
}

.about-img {
  margin-left: 129px;
  border-radius: 30px;
}

/*# sourceMappingURL=main.css.map */
